@font-face {
  font-family: "Circular";
  src: url("../fonts/Circular-Bold.woff2") format("woff2"),
    url("../fonts/Circular-Bold.woff") format("woff"),
    url("../fonts/Circular-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Circular";
  src: url("../fonts/Circular-Book.woff2") format("woff2"),
    url("../fonts/Circular-Book.woff") format("woff"),
    url("../fonts/Circular-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Circular", sans-serif;
  font-weight: normal;
  visibility: hidden;
  user-select: none;
  white-space: nowrap;
  margin: 0;
  user-select: none;
  overflow: hidden;
}

* {
  position: relative;
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

#eye {
  text-align: center;
  width: 8px;
  height: 8px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 200;
}

#eye.active {
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  background: #ffffff;
  margin:auto;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  will-change: transform;
}

#eye.active i {
  width: 10px;
  height: 10px;
  top: 50%;
}

#eye i {
  visibility: hidden;
}

#options-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  z-index: 0;
}

#options-wrapper li {
  list-style: none;
  width: 50%;
  line-height: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#options-wrapper li a {
  font-size: 16px;
  display: inline-block;
  color: #181b20;
  background: white;
  border-radius: 30px;
  padding: 10px 20px 10px 18px;
  margin: 10px 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  will-change: transform;
}

#options-wrapper li a:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#options-wrapper li a .option-icon {
  font-size: 22px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

#options-wrapper li:only-child {
  text-align: right;
  left:-60px !important;
  -webkit-transform-origin: right center !important;
  -ms-transform-origin: right center !important;
  transform-origin: right center !important;
}

#options-wrapper li:nth-last-child(n+2):nth-last-child(-n+2):first-child,
#options-wrapper li:nth-last-child(n+2):nth-last-child(-n+2):first-child~li:not(:last-child) {
  left:-60px !important;
}

#options-wrapper li:nth-last-child(n+2):nth-last-child(-n+2):first-child~li:not(:first-child) {
  left:60px !important;
}

#options-wrapper li:nth-last-child(n+3):nth-last-child(-n+3):first-child~li:last-child {
  left:-20px;
}

#options-wrapper li:nth-child(odd) {
  text-align: right;
  right: 60px;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
}

#options-wrapper li:nth-child(even) {
  left: 60px;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

#options-wrapper li:nth-child(1),
#options-wrapper li:nth-last-child(2) {
  right: 20px;
}

#options-wrapper li:nth-child(2),
#options-wrapper li:nth-last-child(1) {
  left: 20px;
}